# this is a file that mac computers produce, not needed for others on the team
.DS_Store
firebase_api_carly.js
boostrap.css
bookpost.html
firebaseAPI.js
oldmain.js
.firebase/
.firebaserc
404.html
firebase.json
firestore.indexes.json
firestore.rules
storage.rules