.bg-header {
    background-color: #E48E77;
}

.bg-important {
    background-color: #5E239D;
}

.bg-submit {
    background-color: #00CC99;
}

.bg-generic {
    background-color: #FCF7FF;
}

.bg-greygreen {
    background-color:rgb(240,255,255);
}

.bg-window {
    background-color: #D6E3F8;
}

.redtext {
    color:red;
}

.greentext{
    color:green;
}

.whitetext{
    color:white;
}

.blacktext{
    color:black;
}

.purpletext{
    color:#5E239D;
}