.bg-header {
    background-color: #E48E77;
}

.bg-important {
    background-color: #5E239D;
}

.bg-submit {
    background-color: #00CC99;
}

.bg-generic {
    background-color: #FCF7FF;
}

.bg-window {
    background-color: #D6E3F8;
}