body { 
    margin:0; 
    padding:0;
    }


#map {
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 100%;
}

.mapboxgl-marker:hover {
    cursor: pointer;
}

/* darken the marker on hover */
.mapboxgl-marker:hover svg>g>g:nth-child(2) {
    fill: #7993a5;
}

.mapboxgl-popup-content {
    border: 1px solid black;
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;

}

.volunteering-box {
    overflow: auto;
    height: 500px;
    margin-top: 2em;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
