.map-container {
    border: 1px solid black;
    display: flex;
    justify-items: center;
}

p {
    border: 1px solid black;
}

.navbar-brand {
    text-align: center;
}

.item {
    border: 1px solid black;
    margin: 1em;
}

.test-class {
    border: 1px solid black;
}


