#content {
    border-style:solid;
    border-width:thin;
    margin-top:5%;
    margin-bottom:5%;
    border-radius:0.125rem;
    background-color:rgb(240,255,255);
}

#studentdiv {
    display:none;
}

#publicdiv {
    display:none;
}

#vaxxeddiv {
    display:block;
}
#notvax {
    display:none;
}

.headerstyle{
    color:black;
    border-radius:0.125rem;
    width:calc(100% + 24.5px);
    margin-left:-12px;
    text-align:center;
    padding: 25px 0;
}

.largerfont {
    font-size:1.5rem;
}